    $blueBlack:#2B2D42;
    $cian:#8D99AE;
    $white:#EDF2F4;
    $redLow:#EF233C;
    $redMid:#D90429;
    $deg:#79b6e5;
    $deg2:#d34090;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*CONFIG GENERAL HTML*/

*{
    transition: scroll-behavior 3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}


/*ESTILOS GENERALES*/

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/background.svg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

/*ENCABEZADO*/

.header{
    width: 80vw;
    position: fixed;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    justify-content: space-between;
    img{
        width: 9em;
        transition: width .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    nav{
        ul{
            display: flex;
            flex-direction: row;
            gap: 4em;
            list-style: none;
        }
    }
    transition: backdrop-filter .5s cubic-bezier(0.455, 0.03, 0.515, 0.955), height .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    transition: width 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.link{
    color: var(--blueBlack);
                text-decoration: none;
                font-size: 1.3em;
                font-weight: 500;
                border-bottom: solid .2rem $blueBlack;
                padding: .5em;
                transition: color .6s cubic-bezier(.47,.09,.75,.48),box-shadow .6s cubic-bezier(.47,.09,.75,.48) ;
}

.link:hover, .link:focus{
    color: $white;
    box-shadow: inset 6.4em 0 0 0 $blueBlack;
    animation: forwards;
}

.blur{
    width: 100vw;
    padding: 0px 10em;
    img{
        width: 7em;
    }
    backdrop-filter: blur(3px);
    height: 70px;
}

/*MAIN HOME*/

main{
    height: 100vh;
    margin-top: 30vh;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20vh;
    flex-wrap: nowrap;
    span{
        margin-left: 2.5em;
        display: block;
        white-space: nowrap;
        border-right: 4px solid ;
        font-size: 2.5em;
        width: 17ch;
        font-weight: 600;
        margin-top: 2em;
        animation: typing 2s steps(48) , trs .8s step-end 5 forwards;
        overflow: hidden;
    }
    section p{
        text-overflow: ellipsis;
        text-align: center;
        width: 60vw;
        margin :4em;
        font-size: 1.3em;
    }
}


/*LENGUAJES SECTION*/
 

.lenguajes{
    position: relative;
    width: 80vw;
    height: 100vh;
    border-top: solid 2px $blueBlack;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    padding: 3em;
    span{
        font-size: 2.5em;
        width: 23ch;
        font-weight: 700;
        margin-bottom: 1em;
    }
    .animation-span{
            animation: typing 2s steps(84);
            display: block;
            white-space: nowrap;
            overflow: hidden;
        }
    p{
        font-size: 1.3em;
        text-align: center;
    }
    .icons{
        display: flex;
        flex-wrap: nowrap;
        margin-top: 6em;
    }
    .icons img{
        padding: 2em;
        margin: 2em;
        width: 10em;
        filter: grayscale(100%);
        transition: filter .5s cubic-bezier(0.215, 0.610, 0.355, 1), padding .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
}

.icons img:hover{
    filter:grayscale(0%);
    padding: 1.7em;
}

/*ARTICULO ESTILOS*/

#article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px $blueBlack;
    width: 80vw;
    height: 100vh;
    .span-2{
        margin-top: 1em;
        text-align: center;
        font-size: 2.5em;
        width: 7ch;
        font-weight: 700;
        margin-bottom: 1em;
    }
}

.prop{
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    .proyectos{
        width: 500px;
        margin: 2em;
        height: 280px;
        background: rgb(213,0,208);
        background: linear-gradient(19deg, rgba(213,0,208,1) 10%, rgba(47,195,255,1) 86%);
        box-shadow:inset 10px 10px 50px 0px $blueBlack;
        filter: grayscale(100%);
        transition: filter .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
.proyectos:hover{
            filter: grayscale(0%);
        }


}


@keyframes typing {
    from{
        width: 0;
    }
}

@keyframes trs {
    50%{
        border-color: transparent;
    }
    100%{
        border-color: transparent;
    }
}